include mixins

div#resume(data-uk-sticky)
    div.uk-panel.uk-panel-box
        div.uk-margin-top.uk-margin-bottom
            div.uk-grid.uk-grid-width-medium-1-3.uk-grid-divider.uk-text-center.uk-text-large(data-uk-grid-margin)
                +route_resume(source, target)
                +transit_resume(route)
                +range_resume(range)

div.uk-margin-large-top#detail
    each transit in route
        +transit_detail(transit)

script.
    $('.uk-accordion-title').click(function () {
        var down = $(this).find('i.uk-icon-angle-down')
        if (down.length != 0)
            down.removeClass('uk-icon-angle-down').addClass('uk-icon-angle-up')
        else {
            var up = $(this).find('i.uk-icon-angle-up')
            if (up.length != 0)
                up.removeClass('uk-icon-angle-up').addClass('uk-icon-angle-down')
        }
    })