html
    head
        style(type="text/css").
            #container {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                top: 0;
            }
    body
        div#container
        script(src="/js/jquery-3.2.0.min.js")
        script(src="/js/cytoscape/cytoscape.js")
        script(src="/js/sigma.client.js")
//-
        
        script(src="/js/sigma/plugins/sigma.layout.forceAtlas2.min.js")
        script(src="/js/sigma/plugins/sigma.parsers.json.min.js")
        