doctype html
html
    include includes/layout/head.pug
    body
        div.wrapper
            include includes/layout/header.pug
            include includes/layout/main.pug
            div.push
        include includes/layout/footer.pug