extends layout

block after-head-content
    link(href="/css/components/notify.min.css" rel="stylesheet")
    link(href="/css/components/autocomplete.min.css" rel="stylesheet")
    link(href="/css/components/accordion.min.css" rel="stylesheet")
    link(href="/css/components/sticky.min.css" rel="stylesheet")
    link(href="/css/components/form-select.min.css" rel="stylesheet")
    script(src="/js/uikit/components/autocomplete.min.js")
    script(src="/js/uikit/components/notify.min.js")
    script(src="/js/uikit/components/accordion.min.js")
    script(src="/js/uikit/components/sticky.min.js")
    script(src="/js/uikit/components/form-select.min.js")
    script(src="/js/uikit/custom/timepicker.js")


block main-content
    h1=title
    div#route
        form.uk-form#form
            div(data-uk-grid-margin)
                div.uk-grid.uk-grid-width-medium-1-2(data-uk-grid-margin)
                    div.uk-form.uk-form-icon.uk-autocomplete
                        i.uk-icon-circle-o
                        input.uk-width-1-1#departure(type="text" name="departure" placeholder="Choose a departure")
                    div.uk-form.uk-form-icon.uk-autocomplete
                        i.uk-icon-circle
                        input.uk-width-1-1#arrival(type="text" name="arrival" placeholder="Choose an arrival")
                div.uk-width-medium-1-2
                    div.uk-grid.uk-grid-width-1-2(data-uk-grid-margin)
                        div.uk-width-1-2
                            div.uk-form-select.uk-button.uk-width-1-1(data-uk-form-select)
                                span
                                select.uk-margin#sens(name="sens")
                                    option(value="now") Leave now
                                    option(value="leave") Leave at
                                    option(value="arrive") Arrive at
                        div.uk-form.uk-form-icon.uk-hidden#time-container(data-uk-timepicker)
                            i.uk-icon-clock-o
                            input.uk-width-1-1#time(type="text" name="time" placeholder="Choose a time")
                div.uk-grid
                    div.uk-width-1-1
                        button.uk-button.uk-button-primary.uk-width-1-1(type="submit") Search
        div.uk-block#result
block after-footer
    script(src="/js/client.js")