extends layout

block content

    h1= title

    div(id='search')

        form(class='uk-form' id='form')

            div(class='uk-form-row')
                div(class='uk-grid uk-grid-width-1-1')
                
                    div(class='uk-form-icon')
                        i(class='uk-icon-circle-o')
                        input(class='uk-width-1-1' type='text' name='location' id='location' placeholder='Choose a location')
            
            div(class='uk-form-row')
                button(class='uk-button uk-width-1-1 uk-button-primary' type='submit') Search

        div(class='uk-grid' id='result')

    script(src='/js/client.js')