block before-footer
block footer
    footer(class="uk-block uk-block-secondary uk-contrast uk-text-center")
        div(class="uk-container uk-container-center")
            block footer-content
                p
                    | Realised by 
                    |
                    a(href="https://johannhospice.github.io/") Johann Hospice
                    | , with  
                    a(href="https://getuikit.com/v2") Uikit v2
                a(href="/") Metro
block after-footer