block before-footer
block footer
    footer.uk-block.uk-block-secondary.uk-contrast.uk-text-center
        div.uk-container.uk-container-center
            block footer-content
                p
                    | Realised by 
                    |
                    a(href="https://johannhospice.github.io/" target="_blank") Johann Hospice
                //-
                    | , with  
                    a(href="https://getuikit.com/v2") Uikit v2
                a(href="/") Metro
block after-footer