block before-head
block head
    head
        block before-head-content
        block head-content
            title=title
            link(href='/css/uikit.min.css' rel='stylesheet')
            script(src='/js/jquery-3.2.0.min.js')
            script(src='/js/uikit/uikit.min.js')
        block after-head-content
block after-head
        