block before-header
block header
    header
        nav.uk-navbar
            div.uk-container.uk-container-center
                ul.uk-navbar-nav
                    each link, name in routes
                        li(class={'uk-active': currentUrl == link})
                            a(href=link)=name
block after-header