ol
    li
        | Ce projet est à effectuer seul.e, en autonomie. Aucun partage de code n’est toléré.
    li
        | Ce projet est à rendre pour le 17 avril 2017 à 23h55. Le rendu se fera sur la page Moodle du
        | cours 1
    li
        | Le projet devra utiliser le framework Javascript Node.js, et pourra inclure des extensions
        | de base comme express, body-parser etc. mais pas d’extension qui ferait une partie du travail
        | à votre place !
    li
        | Nous n’allons pas juger des qualités artistiques de votre application, mais utiliser un minimum
        | de CSS afin de lui donner un th`eme visuel pour rendre le tout ergonomique et fonctionnel est
        | une bonne idée. L’utilisation de Bootstrap est autorisée.
    li
        | Nous décrivons chaque fonctionnalité a minima pour vous laisser une certaine liberté ; le fait
        | d’améliorer ce qui est proposé ou de rajouter d’autres fonctionnalités sera pris en compte
        | dans la note.