ul(class="uk-grid uk-grid-match uk-grid-width-1-1 uk-grid-width-medium-1-3" data-uk-grid data-uk-grid-margin)
    li
        div(class="uk-panel uk-panel-box")
            h5.uk-panel-title 
                i(class="uk-icon-clock-o")
                |  Proposer une estimation du temps de parcours
            p
                | Demandez une heure de départ à l’utilisateur,
                | estimez son heure d’arrivée ainsi que son temps de trajet. Dans un premier temps,
                | vous pouvez prendre les temps moyens suivants : 1.2 minutes entre chaque station, 20
                | secondes à quai, 1.5 minute pour une correspondance. Vous pouvez affiner ces temps en
                | cherchant des temps de référence pour les correspondances sur Internet, si vous le souhaitez.
    li
        div(class="uk-panel uk-panel-box")
            h5.uk-panel-title 
                i(class="uk-icon-exclamation")
                |  Impact de la pénalisation des changements 
            p
                | Proposez à l’utilisateur de choisir la pénalisation
                | à appliquer aux changements, et répercutez-la sur les poids des arcs du graphe